h1 {
font-family: comic sans ms;
}

h2 {
font-size: 20px;
font-family: comic sans ms;
}

a {
font-size: 22px;
font-family: comic sans ms;
}

body {
  background-color: lightblue;
}

